.main {
    display: flex;
    width: 90%;
    max-width: 1000px;
    aspect-ratio: 3 / 2;
    border: 1px solid #777;
    padding: 15px;
    gap: 15px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #222;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #111;
    overflow: hidden;
    font-family: sans-serif;
    user-select: none;
}

#graph_window {
    flex: 2;
    border: 1px solid #999;
    border-radius: 5px;
    background-color: #333;
    overflow: hidden;
    position: relative;
}

#right_side {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.top, .bottom {
    flex: 1;
    border: 1px solid #999;
    border-radius: 6px;
    background-color: #333;
}

.grid {
    width: 100%;
    height: 100%;
}

#x_axis {
    width: 100%;
    height: 2px;
    background-color: #666;
    position: absolute;
    top: calc(50% - 1px);
    left: 0px;
}

#y_axis {
    width: 2px;
    height: 100%;
    background-color: #666;
    position: absolute;
    left: calc(50% - 1px);
    top: 0px;
}

.q_angle {
    width: 71%;
    height: 2px;
    background-color: #888;
    position: absolute;
    top: calc(50% - 1px);
    left: calc(50% - 1px);
    border-radius: 1px;
    transform-origin: 1px 50%;
    transform: rotate(45deg);
}

.q_button {
    width: 8px;
    height: 8px;
    background-color: #2e8dd5;
    position: absolute;
    top: calc(50% - 4px);
    left: calc(50% - 4px);
    border-radius: 4px;
}

.q_triangle_line {
    width: 1px;
    background-color: #555;
    position: absolute;
    top: calc(50% - 4px);
    left: calc(50% - 4px);
    border-radius: 4px;
}

#coords_info {
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 50px);
    color: #CCC;
    width: 100px;
    text-align: center;
}

h1 {
    text-align: center;
    margin: 0px;
    margin-top: 5px;
    font-size: 25px;
    color: #CCC;
    text-decoration: underline;
}

.form_holder {
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
}

label {
    color: #CCC;
}

input {
    border-radius: 20px;
    border: 1px solid #555;
    background-color: #444;
    color: #BBB;
    padding: 5px;
}

input:focus {
    border: 1px solid #2e8dd5;
    outline: none;
}